<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.EducationMapper">
    <insert id="addRegister" parameterType="com.jk.pojo.User">
        insert into a_user(username,password,mobile,realname) values(#{username},#{password},#{mobile},#{realname})
    </insert>
    
    <select id="findByUsername" resultType="com.jk.pojo.User">
        select * from a_user where username=#{username}
    </select>

    <select id="queryCourse" resultType="com.jk.pojo.Course">
        select * from t_course where id = #{productId}
    </select>
</mapper>